<% event[:content][:filenames].each_with_index do |file, index| %>
  <a data-fancybox="pixiv_<%= event[:content][:post_id] %>" href='<%= "https://#{Hindsight::Application.credentials.sociallink_url}/media/#{snpc.name}/#{snpc.service}/#{snpc.username}/#{post_base}#{file}" %>'>
    <img <% if index > 0 %>style="display: none"<% end %> src='<%= "https://#{Hindsight::Application.credentials.sociallink_url}/media/#{snpc.name}/#{snpc.service}/#{snpc.username}/#{post_base}#{file}" %>'/>
  </a>
<% end %>
