<div class="card-body">
  <p>
    <% if event[:content][:filename] %>
      <a data-fancybox="webcomic_<%= event[:content][:strip] %>" href='<%= "https://#{Hindsight::Application.credentials.sociallink_url}/media/#{snpc.name}/#{snpc.service}/#{snpc.username}/#{event[:content][:filename]}" %>'>
        <img src='<%= "https://#{Hindsight::Application.credentials.sociallink_url}/media/#{snpc.name}/#{snpc.service}/#{snpc.username}/#{event[:content][:filename]}" %>'/>
      </a>
    <% end %>
  </p>
  <% if json && json["alt"] %>
    <p class="neutral">
      <em><%= json['alt'] %></em>
    </p>
  <% end %>
</div>
