<%
  if json['snippet']['thumbnails']['maxres']
    url = json['snippet']['thumbnails']['maxres']['url']
  elsif json['snippet']['thumbnails']['high']
    url = json['snippet']['thumbnails']['high']['url']
  end
%>
<a data-fancybox href="https://www.youtube.com/watch?v=<%= event[:content][:video_id] %>"><img src="<%= url %>" /></a>
