.cf:after, .cf:before {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.left {float: left}
.right {float: right}

.sent {text-align: left}
.received {text-align: right}
.neutral {
  text-align: center;
  font-style: italic;
  color: #999;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;

  h1, h2, h3, h4, h5, h6 {font-family: 'Quicksand'}
}

* {box-sizing: border-box}

body#overview {
  background: linear-gradient(to right, #383353 0vw, #383353 300px, #F6F6F6 300px, #F6F6F6 100vw) repeat-y scroll 0 0 rgba(0, 0, 0, 0);

  article {
    aside {
      .tomorrow, .yesterday {
        text-align: center;
        font-size: 50px;
        z-index: 4;
        a {color: #FFF}
      }

      h1 {font-size: 30px}
      a {color: #FFF}
      ul {
        list-style-type: none;
        padding: 0;
        li {margin: 5px 0}

        ul li {margin-left: 20px}
      }
  
      width: 300px;
      height: 100%;
      padding-right: 20px;
      padding-left: 20px;
      background: #383353;
      position: sticky;
      top: 0;
      color: #FFF;
    }

    section {
      width: calc(100% - 300px);
      .month {
        width: 500px;
        height: 450px;
        float: left;
        padding: 50px;

        .simple-calendar {
          a {
            text-decoration: none;
            color: #262626;
          }

          .calendar-heading {
            text-align: left;
            font-weight: bold;
            margin: 10px 0;
            & > * {margin: 0 5px}
            a {display: none}
            .calendar-year {display: none}
          }

          table {
            border: none;

            th {
              padding: 0;
              border: none;
              text-align: center;
            }

            td {
              border: none;
              text-align: center;
              vertical-align: middle;

              a {margin: 0 auto}

              &.today {
                background: none;
                a.selected-date {background: #EA0B9D !important}
              }
  
              &.current-month a.selected-date {
                background: #7D48A2;
                width: 27px;
                height: 27px;
                display: block;
                border-radius: 50px;
                line-height: 27px;
                color: #FFF;
              }
            }

            .day {
              width: 50px;
              height: 60px;
              &.prev-month, &.next-month {
                background: none;
                a {color: rgba(0, 0, 0, 0.3)}
              }
            }
          }
        }
      }
    }
  }
}

body#date {
  background: linear-gradient(to right, #383353 0vw, #383353 300px, #F6F6F6 300px, #F6F6F6 100vw) repeat-y scroll 0 0 rgba(0, 0, 0, 0);

  & > header {
    background: #45ACE7;
    position: fixed;
    z-index: 2;
    width: 100%;
    color: #FFF;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > * {flex: 1}
    a {color: #FFF; text-decoration: none}

    nav {
      text-align: right;
      a {
        color: #FFF;
        &.today {font-weight: bolder; font-size: 20px}
      }
    }
  }

  .details {
    header {
      background: #FFF;
      padding: 0 8px;
      font-weight: 600;
    }
    padding-bottom: 20px;
    border-left-style: solid;
    border-left-width: 0px;
    border-left-color: transparent;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-height: 5px;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;

    .card-body {
      padding: 8px;
      border-radius: 0 0 10px 10px;
      background: #FFF;
      color: #000;
      &.sent {padding-right: 100px}
      &.received {padding-left: 100px}
    }
  }

  & > article {
    width: 100%;
    height: 100%;
    position: relative;

    section.items {
      word-wrap: break-word;
      width: calc(100% - 300px);
      img, video {width: 100%}
      position: relative;
      z-index: 1;

      table {
        background: #F6F6F6;
        table-layout: auto;
        border: 1px solid #F6F6F6;
        overflow: hidden;

        table td:last-child, th:last-child {
          width: 100%;
        }

        .hidden {display: none !important}

        th {
          position: sticky;
          top: 0;
          z-index: 3 !important;
          background: #F6F6F6;
        }

        tr:first-child {
          position: sticky;
          text-align: center;
          z-index: 2;
          background: #F6F6F6;
        }

        td.time {
          background: #F6F6F6;
        }

        .even, .even td.time {
          background: #E6E6E6;
        }

        td.details {
          border-collapse: collapse;
          min-width: 400px;
          max-width: 400px;
          display: table-cell;
        }

      }

      .time {
        &.show_time_zone {
          font-weight: bolder;
        }
        div {position: relative; padding-right: 5px; padding-top: 10px}
        svg {
          position: absolute;
          .climacon_component-stroke {
            color: #7D48A2 !important;
            fill: #7D48A2 !important;
            stroke: #7D48A2 !important;
          }
          width: 75px;
          height: 75px;
          display: block;
          margin-left: -10px;
        }

        vertical-align: top;
        min-width: 140px;
        position: sticky;
        left: 0;
        z-index: 1;
        text-align: right;

        time {
          margin-left: 0;
          span {display: block}
          span.weather {font-weight: bold}
        }
      }

      .gap > .time > * {
        color: #F00;
        display: block;
      }

      & > div {
        display: flex;
        margin-bottom: 10px;
      }
      p {margin: 0}
    }

    aside {
      scrollbar-color: transparent transparent;
      scrollbar-width: thin;
      overflow-y: scroll;
      overflow-x: hidden;
      transition: scrollbar-color 0.5s;
  
      &:hover {scrollbar-color: #ddd transparent}

      h1 {font-size: 30px}
      a {color: #FFF}

      width: 300px;
      height: 100%;
      padding-right: 20px;
      padding-left: 20px;
      background: #383353;
      position: fixed;
      color: #FFF;
      z-index: 0;

      .tomorrow, .yesterday {
        text-align: center;
        font-size: 50px;
        z-index: 4;
        a {color: #FFF}
      }

      footer {
        text-align: center;

        svg {
          margin: 25px;
          width: 50px;
          height: 50px
        }
      }

      .card-body {
        a {color: #262626; text-decoration: dotted; cursor: pointer}
      }

      .simple-calendar {
        a {
          text-decoration: none;
          color: #FFF;
        }

        .calendar-heading {
          text-align: center;
          font-weight: bold;
          margin: 10px 0;
          & > * {margin: 0 5px}
        }

        table {
          border: none;

          th {
            padding: 0;
            border: none;
            text-align: center;
          }

          td {
            border: none;
            text-align: center;

            &.next-month {
              background: rgba(0,0,0,0.3);
            }

            a.selected-date {
              background: #7D48A2;
              width: 27px;
              height: 24px;
              display: block;
              border-radius: 50px;
              color: #FFF;
            }

            &.today {
              background: none;
              a {color: #EA0B9D}
            }
          }

          .day {
            height: auto;
            &.prev-month {
              background: rgba(0,0,0,0.5);
              a {color: rgba(255, 255, 255, 0.7)}
            }
          }
        }
      }

      ul {
        padding: 0;
        list-style-type: none;

        li {
          margin: 5px 0;
          &.details {
            padding-bottom: 0;
            margin: 10px 0;
          }
        }
      }

      div.services {
        text-align: center;
        a {
          display: inline-block;
          margin: 0 10px;
          color: #000;
          i {
            font-size: 42px;
          }
        }
      }
    }
  }
}
