<header style="color: <%= colors2(@event_groups[event[:type]]) %>">
  <p class="<% if event[:content][:sms_type] == "2" %>sent<% else %>received<% end %>">
    <small><%= event[:content][:contact_name] %> (<%= event[:content][:address] %>):</small>
  </p>
</header>
<div class="card-body">
  <p>
    <%= event[:content][:body] %>
  </p>
</div>
