<header class="received" style="color: <%= colors2(@event_groups[event[:type]]) %>">
  <%= event[:content][:source] %>
</header>
<div class="card-body">
  <%= ((event[:content][:weight] / 1000.0) * 2.2).round(2) %> lb
</div>
