<header style="color: <%= colors2(@event_groups[event[:type]]) %>">
  <p class="<% if event[:content][:real_name] == Hindsight::Application.credentials.real_name %>sent<% else %>received<% end %>">
    <small><%= event[:content][:real_name] %>:</small>
  </p>
</header>
<div class="card-body">
  <p class="<% if event[:content][:real_name] == Hindsight::Application.credentials.real_name %>sent<% else %>received<% end %>">
    <% begin %>
      <% event[:content][:chat_message]["message_content"]["segment"].each do |segment| %>
        <%= segment["text"] %>
      <% end %>
    <% rescue %>
      ???
    <% end %>
  </p>
</div>
