<div class="card-body">
  <p class="neutral">
    <a data-fancybox href="/photos/<%= event[:content][:id] %>/preview"><img src="/photos/<%= event[:content][:id] %>/thumbnail" /></a>
    <%= event[:caption].html_safe %>
  </p>
</div>
