<% if event[:type].start_with?('voipms_sms') %>
  <% kind = :sent if event[:content][:sms_type] == "1" %>
  <% contact = event[:content][:contact] %>
  <% number = event[:content][:contact] %>
  <% message = event[:content][:message] %>
<% elsif event[:type].start_with?('android_sms') %>
  <% kind = :sent if event[:content][:sms_type] == "2" %>
  <% contact = event[:content][:contact_name] %>
  <% number = event[:content][:address] %>
  <% message = event[:content][:body] %>
<% elsif event[:type].start_with?('windows_phone_sms') %>
  <% kind = :sent if event[:content]['is_sent'] %>
  <% contact = event[:content][:real_name] %>
  <% number = event[:content][:phone_number] %>
  <% message = event[:content]["body"] %>
<% end %>

<header style="color: <%= colors2(@event_groups[event[:type]]) %>">
  <p class="<% if kind == :sent %>sent<% else %>received<% end %>">
    <small><%= contact %> (<%= number %>):</small>
  </p>
</header>

<div class="card-body">
  <p class="<% if kind == :sent %>sent<% else %>received<% end %>">
    <%= message %>
  </p>
</div>
