<header style="color: <%= colors2(@event_groups[event[:type]]) %>">
  <p class="<% if event[:content][:sms_type] == "1" %>sent<% else %>received<% end %>">
    <small><%= event[:content][:contact] %> (<%= event[:content][:contact] %>):</small>
  </p>
</header>
<div class="card-body">
  <p>
    <%= event[:content][:message] %>
  </p>
</div>
